<a href="<%= list_path(list) %>">
  <div class="list-card card col-3 m-2 text-bg-dark" style="width: 250px; height: 200px;">
    <%= cl_image_tag list.image.key %>
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <h5 class="fw-bold"><%= list.name %></h5>
    </div>
    <span class="badge p-1 rounded-circle bg-danger position-absolute top-0 end-0"><%= "#{list.movies.count}" %> <i class="fa-solid fa-film"></i></span>
  </div>
</a>
